*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
.outer-wrap{
  /* background-color: #9e481a; */
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
}
.outer-msg{
  margin-top: -10px;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
}
.msgg{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  height: 100vh;
}
.play-agn{  
   margin-top: 50px;
   padding: 10px;
   width: 150px;
   height: 60px;
   border:none;
   color: white;
   background-color: #f13c2f;
   font-size: 17px;
   border-radius: 5px;
  }

  .play-agn:hover{
    background-color: #f2c7b0;
    color: black;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  max-width: 465px;
  margin-top: 5px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2), 8px 6px 20px 5px rgba(0, 0, 0, 0.19);
}
.cells {
  background-color: black;
  background-repeat: no-repeat;
  border: none;
  width: 155px;
  height: 155px;
  font-size: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cell-x {
  color: white;
}

.cell-o {
  color: red;
}
.grid .cells:not(:nth-child(3n)) {
  border-right: 5px solid white;
}

.grid .cells:nth-child(-n+6) {
  border-bottom: 5px solid white;
}
.result{
  width: 100vh;
  height: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  color: white;
  background-color: black;
}
.outer{
  display: flex;
  justify-content: center;
  align-items: center;
}
.outer-1{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.chance{
  font-size: 50px;
  margin: 20px;
  padding: 15px;
}
.msgg{
  font-size: 20px;
  text-align: center;
}
.msg-h1{
  padding: 5px;
  margin: 5px;
}
.chance-class {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
  position: fixed;
    /* Add this line */
    top: 0;
    /* Add this line */
    left: 0;
    /* Add this line */
    justify-content: left;
    /* Center the text */
    /* Optional: to match the background */
    padding: 10px;
    /* Optional: adjust padding if needed */
    z-index: 1000;
    /* Ensure it stays on top */
}
.yourturn{
  margin-bottom: 30px;
}
.turnClass {
  margin-bottom: 30px;
}
.xorzero{
  font-size: 40px;
  font-weight: 600;
  height: 50%;
  margin-top: 5px;
  padding-left: 15px;
  color: white;
}
/* media queries for responsiveness */

@media only screen and (max-width: 640px){
  .xorzero {
      margin-top: 30px;
      font-size: 30px;
  }
  .chance-class{
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
 }
 .cells{
  width: 130px;
  height: 130px;
 }
 .grid{
  margin-top: 40px;
  max-width: 390px;
 }
}
@media only screen and (max-width: 432px) {
  .cells {
    width: 100px;
    height: 100px;
  }
  .xorzero{
    margin-top: 50px;
    font-size: 25px;
  }
  .grid {
    margin-top: 30px;
    max-width: 300px;
  }
}
@media only screen and (max-width: 338px) {
  .cells {
    width: 80px;
    height: 80px;
  }
  .xorzero{
    margin-top: 55px;
    font-size: 20px;
   }
  .grid {
    margin-top: 70px;
    max-width: 240px;
  }
  .result{
    font-size: 50px;
  }
  .msg-h1{
    font-size: 30px;
  }
  .msg-h2{
    font-size: 15px;
  }
}